body{
    margin: 0 0;
    padding: 0 0;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    background: linear-gradient(190deg,rgb(15, 86, 153),rgb(70, 168, 233));
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    opacity: 0.8;
}
.margin{
    padding: 0 0;
    margin: 0 0;
}
header p{
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
#main-content{
    display: flexbox;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.items{
    width: 170px;
    height: 170px;
    background-color: deepskyblue;
    margin: 5px 5px;
    font-size: 100px;
    text-align:center;
    border-radius: 10px;
    animation-name: check;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
#selector{
    margin: 10px 10px;
}
input{
    margin: 5px 5px;
    height: 30px;
    border-width: 0 0;
    border-bottom-width: 2px;
    outline: none;
}
@keyframes check{
    from{
    }
    to{
        transform: rotateY(180deg);
    }
}
@media only screen and (max-width:500px){
    .items{
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
    input{
        width: 100px;
    }
}
